@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li::before {
  transition: all 3s;
}

li:hover::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  bottom: -10px;
  background-color: #2a68ff;
  right: 0;
  color: #2a68ff;
}

.icon {
  cursor: pointer;
}
